#body {
  margin: auto;
  max-width: var(--cendyne-max-width);
}

.underline {
  text-decoration: underline;
}
.smaller-text {
  font-size: 8pt;
}

.flex-none {
  flex: none;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex {
  display: flex;
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap4 {
  gap: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.pixel-icon {
  image-rendering: pixelated;
}

.no-break {
  word-break: keep-all;
  white-space: nowrap;
}

.inline-flex {
  display: inline-flex;
}
.custom-emoji {
  max-height: 16px;
  max-width: 16px;
}

.flex-shrink {
  flex-shrink: 100;
}

.flex-grow {
  flex-grow: 1;
}

.all-rounded {
  border-radius: 0.375rem;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.error {
  font-style: bold;
  color: #ff0000;
}

.inline-iframe {
  width: 100%;
  border: none;
  overflow: hidden;
  margin: 0;
}