#table-of-contents-container {
  margin-top: 1em;
}
@media screen and (min-width: 83em) {
  #table-of-contents-container {
    display: block;
    top: 4em;
    position: fixed;
    width: 0;
    z-index: 1;
    margin-top: 0;
  }
  #table-of-contents {
    margin-left: -23em;
    width: 17em;
    background-color: var(--cendyne-hide);
    border: solid 1px var(--cendyne-hide-dark);
    padding: 1em;
    max-height: calc(100vh - 6em);
    overflow: auto;
  }
}
