.youtube-iframe {
  display: block;
}

.youtube-embed {
  background-size: cover;
  background-position: center;
}

.youtube-embed-notice {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}
